<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. All rights reserved.</span>
    <!-- do not remove original cite attribution for Dale Anthony has indicated by Creative Commons 4.0 Attribution -->
    <span class="footer__copyright">
        <a href="http://uno.daleanthony.com" title="link to page for Uno Ghost theme">Uno theme</a> by
        <a href="http://daleanthony.com" title="link to website for Dale-Anthony">Dale-Anthony</a>
    </span>
    <span class="footer__copyright">
        Modified <a href="http://morgancraft.com/blog/post/uno-keystone-port">Uno-KeystoneJS</a> by
        <a href="http://morgancraft.com" title="link to website for Morgan Craft">Morgan-Craft</a>
    </span>
    <span class="footer__copyright">Proudly published with
        <a href="http://keystonejs.com" title="link to KeystoneJS website">KeystoneJS</a>
    </span>
</footer>

